
/* Title alignment is established */

.titles{
	text-align: center;
}

/*The page background is set*/

body {
  background-image: url('../Data/pets.png');
  }

/*The measures, the border and a scroll are set for the div of the image of the pet registration form*/

#imagecreation {
	width: 500px;
	height: 250px;
	padding: 30px;
	border: 2px solid rgb(0, 0, 0);
	overflow: scroll;
}

/*The measures, the border and a scroll are set for the image div of the pet update form*/
		
#imageupgrade{
	width: 500px;
	height: 250px;
	padding: 30px;
	overflow: scroll;
	border: 2px solid rgb(0, 0, 0);
	
}

#mapC {

	width: 70%;
	height: 500px;
}

#mapU {
	width: 70%;
	height: 500px;
}

.marker1 {
	background-image: url('../Data/mapbox-icon.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 200px;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}